
    <header class="header-global">
        <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-dark">
            <div class="container position-relative">
                <a class="navbar-brand me-lg-5" href="./index.html">
                    <img class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                    <img class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                </a>
                <div class="navbar-collapse collapse me-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html">
                                    <img src="/static/assets/img/brand/dark.svg" alt="Themesberg logo">
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

                        <li class="nav-item dropdown">
                           <a href="/" style="color:white ; padding:15px" aria-expanded="false">
                                Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="income/" style="color:white ; padding:15px" aria-expanded="false">
                                Income
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="expense/" style="color:white ; padding:15px" aria-expanded="false">
                                Expense
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="status/" style="color:white ; padding:15px" aria-expanded="false">
                                Status
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="Documentation/" style="color:white ; padding:15px" aria-expanded="false">
                                Documentation
                            </a>
                        </li>
                         <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                                Contact
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                                <div class="col-auto px-0">
                                    <div class="list-group list-group-flush">
                                        <a href="https://appseed.us/" target="_blank"
                                           class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="icon icon-sm"><span class="fas fa-microphone-alt"></span></span>
                                            <div class="ms-4">
                                                <span class="d-block font-small fw-bold mb-0">Contact</span>
                                                <span class="small">Need help? Ask us!</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                                About
                                <span class="fas fa-angle-down nav-link-arrow ms-1"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                                <div class="col-auto px-0">
                                    <div class="list-group list-group-flush">
                                        <a href="https://appseed.us/" target="_blank"
                                           class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                            <span class="icon icon-sm"><span class="fas fa-microphone-alt"></span></span>
                                            <div class="ms-4">
                                                <span class="d-block font-small fw-bold mb-0">About</span>
                                                <span class="small"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div  class="d-flex align-items-center" >

                    {% if user.is_authenticated %}
                                                 <a href="#" class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"> Hi {{ user.username }}</a>
                                                 <a href="logout/" class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3"> Logout</a>

                                        {% else %}
                                                    <a class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3" href="login/">Sign in</a>

                                                    <a class="btn btn-outline-gray-100 d-none d-lg-inline me-md-3" href="signup/">Sign up</a>

                                        </div>
                                        {% endif %}
                 </div>
            </div>
        </nav>
    </header>

